
clang/
gcc32/
gcc64/
out/
security/samsung/defex_lsm/defex_packed_rules.bin
security/samsung/defex_lsm/defex_packed_rules.inc
security/samsung/defex_lsm/pack_rules
boot.img
toolchain/
KKRT/
AK/
test.sh
neel.sh
1.sh
bruh/
build_log.txt
*.zip
*.log
